*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.welcome-header {
  font-size: 14pt;
  color: #1070C8;
  text-align: center;
}

.account-form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

input{
  border: 2px solid #1070C8;
  background-color: #96C2EA;
  padding: 5px;
  width: 80%;
  border-radius: 20px;
}

button{
  border: 2px solid #1070C8;
  background-color: #96C2EA;
  padding: 5px;
  width: 40%;
  font-weight: bold;
  border-radius: 20px;
}

nav{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: #1070C8;
  display: flex;
  justify-content: space-between;
}

header{
  margin-bottom: 20px;
  padding: 10px;
  background-color: #1070C8;
  display: flex;
  justify-content: space-between;
}